Howdy what text would you like to send today?

<form method="post" action="send">
    <input type="text" name="message" placeholder="enter text here">
    <input type="submit" value="send">
</form>

<%twiml = Twilio::TwiML::MessagingResponse.new do |r|%>
<%r.message body: 'this is pretty awesome'%>
<%end%>
<%content_type 'text/xml'%>
<%twiml.to_s%>